@keyframes fadeInUp {

  from {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }

}

@keyframes fadeInDown {

  from {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }

}

@keyframes fadeInUpMoreArrow {

  from {
    opacity: 0;
    transform: translate3d(-50%, 200%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-50%, 0px, 0);
  }

}
