.svg-dump {
	display: none;
}

* {
	box-sizing: border-box;
}

.wrapper {

	margin: 0px 1.5rem;

	@media screen and (min-width: $mobile-breakpoint) {
		margin: 0px auto;
		width: $mobile-breakpoint - 2rem;
	}

}

.intro {

	position: relative;
	padding: 4rem 0px;

	.logo {
		display: block;
		margin: 0px auto;
		width: 16rem;
	}

	.tagline {
		margin-top: 1rem;
		font-size: 1.5rem;
		text-align: center;
	}

	.letter {

		margin-top: 2rem;

		.signature {
			text-align: right;
			font-weight: bold;
		}

	}

	@media screen and (min-width: $mobile-breakpoint) {

		height: 100vh;

		.content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0px auto;
			max-width: 40rem;
		}

		.logo,
		.tagline,
		.letter {
			opacity: 0;
		}

		.logo {
			@include fadeInUp(200ms);
			width: 30rem;
		}

		.tagline {
			@include fadeInUp(800ms);
			font-size: 1.625rem;
		}

		.letter {

			margin-top: 6rem;
			@include fadeInUp(1400ms);

			p {
				text-align: justify;
				font-size: 1.25rem;
			}

		}

	}

}
