* {
	box-sizing: border-box;
}

.wrapper {

	margin: 0px 1.5rem;

	@media screen and (min-width: $mobile-breakpoint) {
		margin: 0px auto;
		width: $mobile-breakpoint - 2rem;
	}

}

article {

	a {

		transition: color $transition-speed;

		&:hover {
			color: $grey;
		}

	}

}
