.svg-dump {
	display: none;
}

svg {
	box-sizing: content-box;
}

.more-arrow {
	display: block;
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translate(-50%, 0px);
	min-width: 1.5rem;
	min-height: 1.5rem;
	width: 3vh;
	height: 3vh;
}
