@import "partials/mixins";
@import "partials/common";
@import "partials/bootstrap-mods";

// Colors
$black: #000000;
$white: #ffffff;
$grey-dark: #333333;
$grey-lite: #eeeeee;
$red: #d13d3d;
$shade-bottom: #e9cac7;
$shade: #c9d5db;
$shade-lite-bottom: #fc8c8c;
$shade-lite: #7cd0f5;

// Sizes
$margin: 20px;

body {
  font-family: 'utopia-std', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'brandon-grotesque', serif;
}

a {

  @include transition(all, 0.3s);

  &,
  &:visited {
    color: $red;
  }

  &:hover {
    color: darken($red, 10);
    text-decoration: underline;
  }

}

h2 {
  font-size: 32px;
}

h1, h2 {

  &.title {
    font-weight: 300;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow:
      0 .005em $shade-bottom,
      -.005em 0 $shade,
      -.005em .010em $shade-bottom,
      -.010em .005em $shade,
      -.010em .015em $shade-bottom,
      -.015em .010em $shade,
      -.015em .020em $shade-bottom,
      -.020em .015em $shade,
      -.020em .025em $shade-bottom,
      -.025em .020em $shade,
      -.025em .030em $shade-bottom,
      -.030em .025em $shade,
      -.030em .035em $shade-bottom,
      -.035em .030em $shade,
      -.035em .040em $shade-bottom,
      -.040em .035em $shade,
      -.040em .045em $shade-bottom,
      -.045em .040em $shade,
      -.045em .050em $shade-bottom,
      -.050em .045em $shade;
  }

}

.pad {

  padding: $margin 0px;

  &.padbig {
    padding: $margin 0px;
  }

}

$working-radius: 0px;

.btn,
.form-control,
.input-lg {
  @include border-radius($working-radius);
}

.intro {

  color: $white;
  background: $grey-dark;

  h1 {
    text-shadow: none;
    text-transform: none;
  }

}

header {

  text-align: center;

  #logo {
    display: block;
    margin: 0px auto;
  }

  #nav-main {

    ul {

      list-style-type: none;
      margin: $margin 0px 0px;
      padding: 0px;
      font-size: 20px;

      li {
        display: block;

        a,
        a:hover {
          color: $white;
        }

      }

    }

  }

}

section.dark {

  color: $white;

  h1, h2 {
    text-shadow:
      0 .005em $shade-lite-bottom,
      -.005em 0 $shade-lite,
      -.005em .010em $shade-lite-bottom,
      -.010em .005em $shade-lite,
      -.010em .015em $shade-lite-bottom,
      -.015em .010em $shade-lite,
      -.015em .020em $shade-lite-bottom,
      -.020em .015em $shade-lite,
      -.020em .025em $shade-lite-bottom,
      -.025em .020em $shade-lite,
      -.025em .030em $shade-lite-bottom,
      -.030em .025em $shade-lite,
      -.030em .035em $shade-lite-bottom,
      -.035em .030em $shade-lite,
      -.035em .040em $shade-lite-bottom,
      -.040em .035em $shade-lite,
      -.040em .045em $shade-lite-bottom,
      -.045em .040em $shade-lite,
      -.045em .050em $shade-lite-bottom,
      -.050em .045em $shade-lite;
  }

}

#services {

  #services-list {
    margin-top: $margin;
  }

  .col1 p:last-child {
    margin-bottom: $margin;
  }

}

#sites {

  background-color: $grey-dark;
}

.square-site {

  position: relative;
  display: block;
  margin-bottom: 30px;

  img {
    display: block;
    @include border-radius($working-radius);
  }

}

.square-site::before,
.square-site::after {
  z-index: 99;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  content: ' ';
  @include transition(background, 0.5s);
  @include border-radius($working-radius);
}

.square-site:hover::before {
  background: transparentize($grey-dark, 0.5);
}

.square-site:hover::after {
  z-index: 100;
  top: 45%;
  bottom: auto;
  content: "\f0c1";
  color: $white;
  font-size: 30px;
  font-family: 'FontAwesome';
  line-height: 30px;
  text-align: center;
  text-shadow: 0px 0px 4px $black;
}

.site-list-row {
  margin-top: $margin;
}

.quote-block {

  &:last-child {
    margin-top: $margin;
  }
}

#contact {

  text-align: center;

  label {
    display: none;
    text-align: left;
  }

  .error {
    color: $red;
  }

}

html.ltie10 {

  #contact {

    label {
      display: block;
    }

  }

}

#intro-generalist {

  #nav-main {
    display: none;
  }

  #generalist-back-link {
    display: block;
    color: $white;
    text-align: center;
    font-size: 20px;
  }

}

#generalist-main {

  form {
    margin-top: $margin;
  }

}

footer {

  text-align: center;

  #footer-logo {
    margin-top: $margin;
    max-width: 100px;
  }

}

@include min($width-sm) {

  h2 {

    &.title {
      font-size: 60px;
    }

  }

  .pad {

    padding: ($margin * 2) 0px;

    &.padbig {
      padding: ($margin * 4) 0px;
    }

  }

  header {

    #logo {
      max-height: 60px;
    }

    #nav-main {

      ul {

        li {

          display: inline-block;
          margin: 0px ($margin / 2);
        }

      }

    }

  }

  #services {

    .col1 p:last-child {
      margin-bottom: 0px;
    }

  }

}

@include min($width-md) {

  h2 {

    &.title {
      font-size: 66px;
    }

  }

  .site-list-row {
    margin-bottom: $margin;
  }

  .square-site {

    &.small {
      margin-bottom: 0px;
    }

  }

}

@include min($width-lg) {

  .square-site {

    &.big,
    &.small {
      margin-bottom: 0px;
    }

  }

}
