---
layout: default
title: 'FTQ App'
case-study: true
bodyClasses: 'case-study case-study-ftq'
---

<div class="wrapper">
	<h1>First Time Quality: From Outline &amp; Prototype to Product</h1>
	<p>TA Industrial Solutions specializes in maximizing production line efficiency for finishers and metal fabricators. Many of these facilities use legacy techniques that, in modern times, slow the line down and result in frustrating redundancies. When TA saw an opportunity to help their customer base, they asked Sefer Design Co. for assistance.</p>
	<hr>
	<p>Together, we set out to make a prototype product to fit the customer needs. The goal was to allow inspectors at the facilities to log new production items into the system, including meta data and imagery, and then analyze the logs to spot trends and areas for improvement.</p>
	<p>After a period of brainstorming, we compiled a list of requirements and set out to build. In order to minimize costs and enable the application to be used across an array of device types, we focused on building the initial system as a web application. This meant it could be accessed instantly from any smartphone or tablet without needing any setup. On the factory floor, speed and ease of use are paramount.</p>
</div>
<div class="wrapper wrapper-grid">
	<div class="grid-item">
		<figure class="figure-spaced">
			<div>
				{% include img-lazy.html no-lazy="true" src="case-studies/ftq-logo.svg" alt="First Time Quality" %}
			</div>
			<figcaption>FTQ logo.</figcaption>
		</figure>
		<figure class="figure-spaced">
			<div>
				{% include img-lazy.html no-lazy="true" src="case-studies/ftq-entry.jpg" alt="New Entry" %}
			</div>
			<figcaption>Inspectors can make new product entries from any smart phone or tablet.</figcaption>
		</figure>
	</div>
	<div class="grid-item">
		<figure class="browser">
			<div class="browser-chrome">
				{% include img-lazy.html no-lazy="true" src="case-studies/ftq-analyze.jpg" alt="Analyze Dashboard" %}
			</div>
			<figcaption>The Analyze dashboard allows inspectors to quickly identify common defects in their product line.</figcaption>
		</figure>
	</div>
</div>

<div class="wrapper">
	<p>The best ideas to improve the concept came from the customers themselves. Upon completion of the initial buildout, we put the application in their hands and received positive, effective feedback that shaped the next several iterations. Mixed in with a bit of aesthetic and branding magic (we named the product <em>First Time Quality</em> &ndash; FTQ for short), the prototype became a real, robust product offering.</p>
</div>
<div class="endorsements">
	<ul class="endorsements-list">
		<li>
			<div class="wrapper-wide-med">
				<q>Working with Sefer Design Co. on this project was very effective. They provided a productive framework to help us through each stage and provided great results along the way. We plan to continue working on this project with Sefer Design Co. as our partner.</q>
				<div class="attribution">Peter Koury,<br><span>President, TA Industrial Solutions</span></div>
			</div>
		</li>
	</ul>
</div>
<div class="wrapper">
	<p>The collaborative nature of the product build out - between Sefer Design Co., TA, and their customers - resulted in a nascent but vital tool that can be improved upon for years to come. Most importantly, it allowed TA Industrial Solutions to provide a critical service to their lineup.</p>
</div>
