---
layout: default
bodyClasses: 'home'
sitemap:
  priority: '1.0'
---

<section class="intro home-section">
	<div class="wrapper">
		<div class="content">
			<h1 class="tagline"><span>Sites &amp; Tools</span><span class="space"> </span><span>for the Modern Web</span></h1>
			<p>Your next marketing web site, an internal process app to manage your employees, or even a visually appealing infographic &ndash; <strong>we help you climb the mountain</strong> and navigate your digital business.</p>
			<!-- {% image './_src/images/case-studies/ftq-analyze-square.jpg', 'First Time Quality', '', 'eager', '200' %} -->
			<a class="btn btn-wide" href="#contact">Contact Us</a>
		</div>
	</div>
	<a href="#philosophy" title="More" class="more-arrow-wrap"><svg class="more-arrow chevron-down-solid" role="img"><use xlink:href="#chevron-down-solid"></use></svg></a>
	<div class="clouds">
		<svg class="cloud" role="img"><use xlink:href="#cloud"></use></svg>
		<svg class="cloud" role="img"><use xlink:href="#cloud"></use></svg>
		<svg class="cloud" role="img"><use xlink:href="#cloud"></use></svg>
		<svg class="cloud" role="img"><use xlink:href="#cloud"></use></svg>
		<svg class="cloud" role="img"><use xlink:href="#cloud"></use></svg>
	</div>
	<!-- <svg class="graph" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 620.57 321.32"><g id="a"><polygon points=".5 246.46 75.02 261.7 155.49 229.51 212.25 195.63 283.4 212.57 343.54 161.47 394.36 201.56 518.88 120.24 618.66 1.61 618.66 321.32 .5 321.32 .5 246.46" fill="#fff"/></g><g id="b"><polyline points=".5 246.46 75.02 261.7 155.49 229.51 212.25 195.63 283.4 212.57 343.54 161.47 394.36 201.56 518.88 120.24 618.66 1.61" fill="none" stroke="#b2b2b2" stroke-miterlimit="10" stroke-width="2"/></g></svg> -->
	<svg class="graph" viewBox="0 0 620.6 321.3" ><path fill="#eaeaea" d="M.5 246.5 75 261.7l80.5-32.2 56.7-33.9 71.2 17 60.1-51.1 50.9 40.1 124.5-81.4L618.7 1.6v319.7H.5z"/><path fill="#fff" d="m343.5 161.5-28.3 24 11.7-4 8.8 4 10.5-5.6 9.4 8.9 9.8-10.1zM597 27.4l15.1-7.4 6.6 7.4V1.6"/><path fill="none" stroke="#efefef" stroke-width="1" stroke-miterlimit="10" d="M.5 246.5 75 261.7l80.5-32.2 56.7-33.9 71.2 17 60.1-51.1 50.9 40.1 124.5-81.4L618.7 1.6"/></svg>
</section>

<section id="philosophy" class="philosophy home-section">
	<div class="wrapper">
		<div class="content">
			<h2 class="tagline">Our Philosophy</h2>
			<div class="letter">
				<p>For nearly a decade, we've been creating digital products of all shapes and sizes. From comprehensive subscription services to interactive animations, magazine-like style publications to productivity utilities &mdash; we touch it all.</p>
				<p>As the list of web technologies grows longer and longer, it's easier than ever to fall behind or wander off track. Our work aims to strip away all the &lsquo;other&rsquo; by focusing on simplicity and clarity. We start by asking, &ldquo;What's the primary objective?&rdquo; and drive all decision-making to achieve that. At the end of the journey, our clients receive products they love, on-time, and within budget. <a href="#endorsements">But don't take our word for it.</a></p>
				<p>Do you have a project in mind? <a href="#contact">Get in touch.</a> We're excited to hear what challenge you'll throw at us next.</p>
			</div>
		</div>
	</div>
</section>

<section id="case-studies" class="home-section case-studies" data-menu-title="Case Studies">
	<div class="case-studies-list">
		<a id="case-study-kelly-in-the-city" href="/kelly-in-the-city/" class="case-study-preview case-study-preview-kelly-in-the-city">
			<div class="case-study-preview-title">Kelly in the City</div>
			{% image './_src/images/case-studies/kellyinthecity-new.jpg', 'Kelly in the City', '', 'lazy', '200' %}
		</a>
		<a id="case-study-ftq" href="/ftq/" class="case-study-preview case-study-preview-ftq">
			<div class="case-study-preview-title">First Time Quality</div>
			{% image './_src/images/case-studies/ftq-analyze-square.jpg', 'First Time Quality', '', 'lazy', '200' %}
		</a>
		<a id="case-study-meal-plans" href="/meal-plans/" class="case-study-preview case-study-preview-meal-plans">
			<div class="case-study-preview-title">Meal Plans by The College Nutritionist</div>
			{% image './_src/images/case-studies/meal-plans-home.jpg', 'Meal Plans', '', 'lazy', '200' %}
		</a>
	</div>
	<div class="clips-list">
		{% image './_src/images/case-studies/studioldesign-home.jpg', 'Studio L Design', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/fitwithasd-home.jpg', 'FIT with ASD', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/seeannajane-home.jpg', 'See Anna Jane', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/thestylescribe-home.jpg', 'The Style Scribe', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/lilaandhayes-home.jpg', 'Lila and Hayes', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/grafton-home.jpg', 'Grafton', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/saltylocks-home.jpg', 'Salty Locks', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/ghai-home.jpg', 'GHAI Budget Advocacy', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/thedefineddish-home.jpg', 'The Defined Dish', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/wastedfood-home.jpg', 'Wasted Food', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/anthemsnacks-journal.jpg', 'Anthem Snacks', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/ukeru-home.jpg', 'Ukeru Systems', '', 'lazy', '200' %}
	</div>
</section>

<section id="endorsements" class="home-section endorsements" data-menu-title="Endorsements">
	<ul class="endorsements-list">
		<li>
			<div class="wrapper-wide-med">
				<q><span>Working with Sefer Design Co. makes my life a million times easier.</span> Beyond the fact that Rob is exceedingly talented and knowledgable, I never have to worry about deadlines or project management. When he is working on something, I know it will be done right, on-time, and within the allotted budget.</q>
				<div class="attribution">Juliet Glassroth, <span>Glassroth Creative Strategies</span></div>
			</div>
		</li>
		<li>
			<div class="wrapper-wide-med">
				<q>Rob was incredibly responsive and helpful with any question I had, and <span>I could rely on him to think outside the box</span> to help me create a product that didn't yet exist. The project exceeded my expectations &mdash; I can't recommend Sefer Design Co. enough!</q>
				<div class="attribution">Rachel Paul, <span>The College Nutritionist</span></div>
			</div>
		</li>
	</ul>
</section>
