---
layout: default
bodyClasses: 'home'
sitemap:
  priority: '1.0'
---

<section class="intro home-section">
	<div class="wrapper">
		<div class="content">
			<svg class="logo intro-logo" role="img"><use xlink:href="#logo"></use></svg>
			<h1 class="tagline"><span>We Help You Navigate</span><br><span>Your Digital Business</span></h1>
			<p>Your next marketing web site, an internal process app to manage your employees, or even a visually appealing infographic &ndash; <strong>we build sites and tools</strong> for the modern web.</p>
			<div class="intro-images">
				{% image './_src/images/wireframe.jpg', 'Wireframe', '', 'eager', '200' %}
				{% image './_src/images/case-studies/ftq-analyze-square.jpg', 'First Time Quality', '', 'eager', '200' %}
				{% image './_src/images/case-studies/ghai-resources.jpg', 'GHAI Budget Advocacy', '', 'eager', '200' %}
			</div>
			<a class="btn btn-wide" href="#contact">Contact Us</a>
		</div>
	</div>
	<a href="#philosophy" title="More" class="more-arrow-wrap"><svg class="more-arrow chevron-down-solid" role="img"><use xlink:href="#chevron-down-solid"></use></svg></a>
</section>

<div class="philosophy-transition">
</div>

<section id="philosophy" class="philosophy home-section">
	<div class="wrapper">
		<div class="content">
			<h2 class="tagline">Our Philosophy</h2>
			<div class="letter">
				<p>For nearly a decade, we've been creating digital products of all shapes and sizes. From comprehensive subscription services to interactive animations, magazine-like style publications to productivity utilities &mdash; we touch it all.</p>
				<p>As the list of web technologies grows longer and longer, it's easier than ever to fall behind or wander off track. Our work aims to strip away all the &lsquo;other&rsquo; by focusing on simplicity and clarity. We start by asking, &ldquo;What's the primary objective?&rdquo; and drive all decision-making to achieve that. At the end of the journey, our clients receive products they love, on-time, and within budget. <a href="#endorsements">But don't take our word for it.</a></p>
				<p>Do you have a project in mind? <a href="#contact">Get in touch.</a> We're excited to hear what challenge you'll throw at us next.</p>
			</div>
		</div>
	</div>
</section>

<section id="case-studies" class="home-section case-studies" data-menu-title="Case Studies">
	<div class="case-studies-list">
		<a id="case-study-kelly-in-the-city" href="/kelly-in-the-city/" class="case-study-preview case-study-preview-kelly-in-the-city">
			<div class="case-study-preview-title">Kelly in the City</div>
			{% image './_src/images/case-studies/kellyinthecity-new.jpg', 'Kelly in the City', '', 'lazy', '200' %}
		</a>
		<a id="case-study-ftq" href="/ftq/" class="case-study-preview case-study-preview-ftq">
			<div class="case-study-preview-title">First Time Quality</div>
			{% image './_src/images/case-studies/ftq-analyze-square.jpg', 'First Time Quality', '', 'lazy', '200' %}
		</a>
		<a id="case-study-meal-plans" href="/meal-plans/" class="case-study-preview case-study-preview-meal-plans">
			<div class="case-study-preview-title">Meal Plans by The College Nutritionist</div>
			{% image './_src/images/case-studies/meal-plans-home.jpg', 'Meal Plans', '', 'lazy', '200' %}
		</a>
	</div>
	<div class="clips-list">
		{% image './_src/images/case-studies/studioldesign-home.jpg', 'Studio L Design', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/fitwithasd-home.jpg', 'FIT with ASD', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/seeannajane-home.jpg', 'See Anna Jane', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/thestylescribe-home.jpg', 'The Style Scribe', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/lilaandhayes-home.jpg', 'Lila and Hayes', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/grafton-home.jpg', 'Grafton', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/saltylocks-home.jpg', 'Salty Locks', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/ghai-home.jpg', 'GHAI Budget Advocacy', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/thedefineddish-home.jpg', 'The Defined Dish', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/wastedfood-home.jpg', 'Wasted Food', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/anthemsnacks-journal.jpg', 'Anthem Snacks', '', 'lazy', '200' %}
		{% image './_src/images/case-studies/ukeru-home.jpg', 'Ukeru Systems', '', 'lazy', '200' %}
	</div>
</section>

<section id="endorsements" class="home-section endorsements" data-menu-title="Endorsements">
	<ul class="endorsements-list">
		<li>
			<div class="wrapper-wide-med">
				<q><span>Working with Sefer Design Co. makes my life a million times easier.</span> Beyond the fact that Rob is exceedingly talented and knowledgable, I never have to worry about deadlines or project management. When he is working on something, I know it will be done right, on-time, and within the allotted budget.</q>
				<div class="attribution">Juliet Glassroth, <span>Glassroth Creative Strategies</span></div>
			</div>
		</li>
		<li>
			<div class="wrapper-wide-med">
				<q>Rob was incredibly responsive and helpful with any question I had, and <span>I could rely on him to think outside the box</span> to help me create a product that didn't yet exist. The project exceeded my expectations &mdash; I can't recommend Sefer Design Co. enough!</q>
				<div class="attribution">Rachel Paul, <span>The College Nutritionist</span></div>
			</div>
		</li>
	</ul>
</section>
