---
layout: default
title: 'Not Now'
product: true
bodyClasses: 'product product-not-now'
---

<div class="wrapper">
	<h1>Not Now</h1>
	<h2>A Google Chrome extension to help minimize distractions.</h2>
	<p>For many, staying focused during the work day is difficult. We've built a simple tool to help minimize the countless distractions we're faced with on a daily basis. This free Google Chrome extension allows you to easily block any web site for a set period of time.</p>
	<p>Need to finish that presentation before lunchtime? <em>Block facebook.com for the next hour.</em> Spend too much time checking your portfolio during the week? <em>Block tdameritrade.com Monday through Friday, 9 to 5.</em> The productivity possibilities are endless!</p>
	<p style="text-align: center;"><a target="_blank" href="https://chrome.google.com/webstore/detail/not-now/bhnjpdlfcopbclhlflmoodpdmlplcajb">Download in the Google Chrome Web Store</a></p>
</div>
<div class="wrapper wrapper-grid">
	<div class="grid-item">
		<figure>{% include img-lazy.html src="not-now/not-now-popup.jpg" alt="Not Now - Popup" %}</figure>
	</div>
	<div class="grid-item">
		<figure class="browser">
			<div class="browser-chrome">
				{% include img-lazy.html src="not-now/not-now-settings.jpg" alt="Not Now - Settings" %}
			</div>
		</figure>
	</div>
</div>
