@use "../mixins";
@use "../variables";

.contact {

	padding: 4rem 0px;
	background: variables.$grey-lightest;
	text-align: center;

	@include mixins.mq(variables.$screen-sm) {
		padding: 6rem 0px;
	}

	p {
		font-size: 1.5rem;
		line-height: 1.7;
	}

	a {

		color: variables.$black;
		transition: color variables.$transition-speed;

		&:hover {
			color: variables.$grey;
		}

	}

	@include mixins.mq(variables.$screen-sm) {

		h2 {
			font-size: 2rem;
		}

		p {
			font-size: 2rem;
		}

	}

}
