<a class="banner" href="/music-menu-bar/">
  <div class="wrapper">
    <p>
      <strong>We launched a new app:</strong>
      <span class="href">Music Menu Bar<svg class="chevron-right-solid" role="img">
        <use xlink:href="#chevron-right-solid"></use>
      </svg>
    </p>
  </div>
</a>
