<a class="banner" href="/bioquipbugs/">
  <div class="wrapper">
    <p>
      <strong>New Case Study:</strong>
      <span class="href">Fixing the "bugs"</span>
      for BioQuipBugs<svg class="chevron-right-solid" role="img">
        <use xlink:href="#chevron-right-solid"></use>
      </svg>
    </p>
  </div>
</a>
