<!DOCTYPE html>
<html lang="en">
{% include 'head' %}
<body class="page-{% if bodyClasses == blank or bodyClasses == '' %}default{% else %}{{ bodyClasses }}{%endif %}">

{% include 'svg-symbols.svg' %}
{% include 'nav' %}

{% if caseStudy or product %}
<article>
	{{ content }}
</article>
{% elsif redirect %}
<article>
	<h1>Redirecting...</h1>
</article>
{% else %}
{{ content }}
{% endif %}

{% if redirect != true %}
{% include 'footer' %}
{% endif %}

{% include 'scripts' %}

</body>
</html>
