<!DOCTYPE html>
<html lang="en">
{% include 'head' %}
<body class="page-{% if page.bodyClasses == blank or page.bodyClasses == '' %}default{% else %}{{ page.bodyClasses }}{%endif %}">

{% include 'svg-symbols.svg' %}
{% include 'nav' %}

{{ content }}

{% include 'footer' %}

{% include 'scripts' %}

</body>
</html>
