<section id="contact" class="home-section contact" data-menu-title="Contact">
		<div class="wrapper">
			<h2><span>Interested?</span> Get In Touch</h2>
			<p>Email us at <a href="mailto:hello@seferdesign.com?subject=Web%20Design%20Services" target="_blank">hello@seferdesign.com</a> or call <a href="tel:16302040013">630.204.0013</a>.<br>We're on <a href="https://instagram.com/seferdesign">Instagram</a>, too.</p>
		</div>
	</section>

<footer>
	<div class="wrapper">
		{% if page.name != 'index.html' %}
		<div class="back-home"><a class="btn btn-trans" href="{{ "/" | prepend: site.baseurl }}"><svg class="chevron-left-solid" role="img"><use xlink:href="#chevron-left-solid"></use></svg>Back Home</a></div>
		{% endif %}
		<a class="copy" href="{{ "/" | prepend: site.baseurl }}">&copy; <svg class="logo" role="img"><use xlink:href="#logo"></use></svg></a>
	</div>
</section>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3797528-17"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3797528-17');
</script>

<script>
{% include scripts.min.js %}
</script>
