{% if page.url != "/generalist/" %}<section class="contact">
	<div class="grid-wrapper">
		<h2>Interested? <strong>Get in touch.</strong></h2>
		<p>Email us at <a href="mailto:hello@seferdesign.com?subject=Web%20Design%20Services" target="_blank">hello@seferdesign.com</a> or call <a href="tel:16302040013">(630) 204-0013</a>.</p>
		<p>We're on Twitter <a href="https://twitter.com/seferdesign">@seferdesign</a> and <a href="https://www.facebook.com/seferdesign">Facebook</a>, too.</p>
	</div>
</section>{% endif %}
<footer>
	<nav>
		<ul>
			<li><a href="{{ "/" | prepend: site.baseurl }}" title="Home">Home</a></li><li><a href="{{ "/generalist/" | prepend: site.baseurl }}" title="GeneraList">GeneraList</a></li>
		</ul>
	</nav>
	<p>&copy; {{ site.company_name }}</p>
  <a class="logo" href="{{ "/" | prepend: site.baseurl }}" title="{{ site.title }}"><img src="{{ site.distbase }}/images/sdc_acronym_white.svg" alt="{{ site.title }}"></a>
</footer>
