<head>
	{% if page.redirect == true %}<meta http-equiv="refresh" content="0; URL='{{ page.redirect_url }}'" />{% endif %}
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }} | {{ site.description }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0" />
	<meta name="description" content="{{ site.descriptionLong }}" />
	<link rel="stylesheet" href="https://use.typekit.net/tax4mgp.css" />
  <style>
  {% include style.min.css %}
  </style>
</head>
