<header class="pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="{{ "/" | prepend: site.baseurl }}" title="{{ site.title }}"><img id="logo" src="/images/sdc_logo_wire.png" alt="{{ site.title }}"></a>
        <nav id="nav-main" role="navigation">
          <ul>
            <li><a class="scroll" href="#services">What We Do</a></li>
            <li><a class="scroll" href="#sites">Our Work</a></li>
            <li><a class="scroll" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
