{% if page.name != 'index.html' %}<a class="back" href="{{ "/" | prepend: site.baseurl }}"><svg class="chevron-left-solid" role="img"><use xlink:href="#chevron-left-solid"></use></svg></a>{% endif %}

<nav id="main-nav">
	<ul>
		<li><a href="{{ "/" | prepend: site.baseurl }}"><svg class="logo" role="img"><use xlink:href="#logo"></use></svg></a></li>
		<li><a href="{{ "/#case-studies" | prepend: site.baseurl }}">Case Studies</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
</nav>

<div id="nav-toggle" class="nav-toggle">
	<div class="menu-title-wrap"></div>
	<div class="closed">
	  <span></span>
	  <span></span>
	  <span></span>
	</div>
	<div class="open">&times;</div>
</div>
