<nav>
	<ul>
		<li><a href="{{ "/" | prepend: site.baseurl }}"><svg class="logo" role="img"><use xlink:href="#logo"></use></svg></a></li>
		<li><a href="#">Case Studies</a></li>
		<li><a href="#">Featured Work</a></li>
		<li><a href="{{ "/#endorsements" | prepend: site.baseurl }}">Endorsements</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>

<div id="nav-toggle" class="nav-toggle">
	<div class="closed">
	  <span></span>
	  <span></span>
	  <span></span>
	</div>
	<div class="open">&times;</div>
</div>
