.chevron-down-solid {
  width: 448px;
  height: 512px;
}

.chevron-left-solid {
  width: 320px;
  height: 512px;
}

.chevron-right-solid {
  width: 320px;
  height: 512px;
}

.left-arrow {
  width: 608px;
  height: 448.7px;
}

.logo {
  width: 468.6px;
  height: 69.9px;
}

