<nav id="main-nav">
	<a class="logo-link" href="/" title="{{ site.title }}">
		<svg class="logo" role="img">
			<use xlink:href="#logo"></use>
		</svg>
	</a>
	<div id="nav-main-toggle" class="nav-main-toggle">
		<span class="nav-main-toggle-box">
			<span class="nav-main-toggle-inner"></span>
		</span>
	</div>
  <ul class="main-menu">
		<li{% if page.url == '/' %} aria-current="page"{% endif %}><a href="/">Home</a></li>
    <li{% if page.url == '/philosophy/' %} aria-current="page"{% endif %}><a href="/philosophy/">Philosophy</a></li>
		<li{% if page.url == '/case-studies/' or tags contains 'caseStudy' %} aria-current="page"{% endif %}><a href="/case-studies/">Case Studies</a></li>
    <li{% if page.url == '/contact/' %} aria-current="page"{% endif %}><a href="/contact/">Contact</a></li>
  </ul>
</nav>
