article {

	padding: 6rem 0px;

	@include mq('desktop') {
		padding: 8rem 0px;
	}

	.page-legal & {

		margin: 0px auto;
		max-width: 1200px;
		padding-left: 1.5rem;
		padding-right: 1.5rem;

	}

	ul,
	ol {

		li {

			&::marker {
				font-weight: bold;
			}

			& + li {
				margin-top: 0.25em;
			}

		}

	}

	a {
		color: $black;
	}

	@include mq($screen-sm) {

		h1,
		h2 {
			text-align: center;
		}

	}

}
