.case-studies {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;

	.case-study-preview {

		flex-basis: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 2rem;
		color: currentColor;
		background: $grey-lighter;
		text-decoration: none;

		&:nth-child(2n) {
			background: $grey-light;
		}

		@include mq($screen-sm) {

			flex-basis: 50%;
			background: $grey-light;

			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(10),
			&:nth-child(11),
			&:nth-child(14),
			&:nth-child(15) {
				background: $grey-lighter;
			}

		}

		// @include mq($screen-md) {

		// 	flex-basis: 25%;

		// 	&:nth-child(1),
		// 	&:nth-child(3),
		// 	&:nth-child(6),
		// 	&:nth-child(8),
		// 	&:nth-child(11),
		// 	&:nth-child(14),
		// 	&:nth-child(16) {
		// 		background: $grey-light;
		// 	}

		// 	&:nth-child(2),
		// 	&:nth-child(4),
		// 	&:nth-child(5),
		// 	&:nth-child(7),
		// 	&:nth-child(10),
		// 	&:nth-child(12),
		// 	&:nth-child(13) {
		// 		background: $grey-lighter;
		// 	}

		// }

		&-title {
			flex-basis: calc(60% - 2rem);
			color: $white;
		}

		img {
			flex-basis: 40%;
			margin-left: 2rem;
			width: 6rem;
			height: 6rem;
			object-fit: contain;

			@include mq($screen-xs) {
				width: 10rem;
				height: 10rem;
			}
		}

		&-meal-plans:hover {
			background: $orange;
		}

	}

}

.page-case-study {

	.endorsements {

		margin: 2rem 0px;

		&-footer {
			margin-bottom: -6rem;
		}

	}

}

.case-study-sdc {

	.logo-final-display {

		margin: 4rem 0px;
		text-align: center;

		.logo {
			@include sdcLogoDimensions(16rem);
		}

		@media screen and (min-width: $screen-sm) {

			margin: 4rem 0px;

			.logo {
				@include sdcLogoDimensions(36rem);
			}

		}

	}

}
