.contact {

	padding: 4rem 0px;
	background: $grey-lightest;
	text-align: center;

	@media screen and (min-width: $mobile-breakpoint) {
		padding: 6rem 0px;
	}

	p {
		font-size: 1.5rem;
		line-height: 1.7;
	}

	a {

		color: $black;
		transition: color $transition-speed;

		&:hover {
			color: $grey;
		}

	}

	@media screen and (min-width: $mobile-breakpoint) {

		h2 {
			font-size: 4rem;
		}

		p {
			font-size: 2rem;
		}

	}

}
