.endorsements {

	text-align: center;

	ul {

		list-style-type: none;
		margin: 0px;
		padding: 0px;

		li {

			padding: 2rem 0px;
			color: $white;
			background: $grey-darker;

			&:nth-child(even) {
				color: $black;
				background: $white;
			}

		}

	}

	q {

		font-size: 1.5rem;
		line-height: 1.3;

		&:before {
			content: open-quote;
		}

		&:after {
			content: close-quote;
		}

	}

	.attribution {

		margin-top: 2rem;
		color: $grey-light;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.4;
		@include caps();

		&:before {
			content: '\2015';
			margin-right: 0.25em;
		}

		span {
			color: $blue;
		}

	}

	@include mq($screen-sm) {

		ul {

			li {
				padding: 6rem 0px;
			}

		}

		q {
			font-size: 1.75rem;
		}

		.attribution {
			margin-top: 3rem;
			font-size: 1.5rem;
		}

	}

}
