.intro {

	position: relative;
	padding: 3rem 0px;
	overflow: hidden;
	min-height: calc(var(--vh, 1vh) * 80);
	color: $white;
	background: $blue-light;
	// background: {
	// 	image: url('/city.svg');
	// 	color: #203D58;
	// 	position: center bottom;
	// 	size: 100% auto;
	// 	repeat: no-repeat;
	// }
	text-align: center;
	overflow: hidden;

	.wrapper {
		z-index: 10;
		position: static;
	}

	.clouds {

		display: none;

		.cloud {

			z-index: 0;
			position: absolute;
			fill: $white;

			&:nth-child(1) {
				z-index: 5;
				top: 25%;
				left: 80%;
				transform: scale(0.7);
				animation: {
					name: cloud2;
					delay: 0ms;
					duration: 320000ms;
					timing-function: linear;
					fill-mode: forwards;
				}
				opacity: 0.4;
			}

			&:nth-child(2) {
				z-index: 3;
				top: 5%;
				left: -10%;
				transform: scale(-0.2, 0.2);
				animation: {
					name: cloud1;
					delay: 0ms;
					duration: 480000ms;
					timing-function: linear;
					fill-mode: forwards;
				}
				opacity: 0.8;
			}

			&:nth-child(3) {
				z-index: 4;
				top: 15%;
				left: 70%;
				transform: scale(-0.2, 0.2);
				opacity: 0.8;
			}

			&:nth-child(4) {
				z-index: 4;
				top: 25%;
				left: 30%;
				transform: scale(-0.2, 0.2);
				opacity: 0.75;
			}

			&:nth-child(5) {
				z-index: 4;
				top: 55%;
				left: 5%;
				transform: scale(-0.3, 0.3);
				opacity: 0.75;
			}

			&:nth-child(n+6) {
				display: none;
				// left: 50px;
			}

		}

	}

	.graph {

		z-index: 0;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translate(-50%, 0px);
		width: 101vw;

		@include mq($screen-md) {
			bottom: -50px;
		}

		@include mq($screen-lg) {
			bottom: -100px;
		}

	}

	&-images {

		margin-bottom: 2rem;
		padding: 1rem;

		img {
			z-index: 1;
			position: relative;
			width: 1em;
			height: 1em;
			font-size: 12rem;
			border: 0.125rem solid $grey-light;
			border-radius: 0.0625em;
			object-fit: cover;
			box-shadow: 0px 4px 12px 0px transparentize($black, 0.9);
		}

		picture:nth-child(1) img {
			transform: translate(0.125em, 0.0625em);
		}

		picture:nth-child(2) img {
			z-index: 0;
			transform: translate(0px, -0.0625em);
			width: 1.5em;
			border-color: transparent;
		}

		picture:nth-child(3) img {
			transform: translate(-0.125em, 0.0625em);
		}

	}

	a:not(.btn) {

		color: currentColor;
		transition: color $transition-speed;

		&:hover {
			color: $grey;
		}

	}

	.btn {
		background: $orange;
		border-color: $orange;
	}

	.logo {
		display: block;
		margin: 0px auto;
		@include sdcLogoDimensions(16rem);
	}

	.tagline {

		color: $black;
		font-size: 1.5rem;
		text-align: center;

		@include mq($screen-sm) {
			font-size: 2.5rem;
		}

	}

	.letter {

		margin-top: 3rem;

		p {
			font-size: 1.125rem;
		}

		.signature {
			text-align: right;
			font-weight: bold;
		}

	}

	.more-arrow-wrap {
		display: none;
	}

	.content {

		margin: 0px auto;
		padding: 0px 2rem;

		@include mq($screen-sm) {
			z-index: 1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: $screen-sm - 4rem;
			max-width: 100%;
		}

	}

	@include mq($screen-sm) {

		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);

		.logo {
			@include sdcLogoDimensions(30rem);
		}

		.tagline {
			font-size: 3rem;
		}

		.letter {

			margin-top: 4rem;

			p {
				font-size: 1.5rem;
			}

		}

		.more-arrow-wrap  {

			opacity: 0;
			display: block;
			position: absolute;
			bottom: 1.5rem;
			left: 50%;
			transform: translate(-50%, 0px);
			animation: {
				name: fadeInUpMoreArrow;
				delay: $animation-intro-extra-delay;
				duration: $animation-fade-in-up-speed;
				timing-function: ease-out;
				fill-mode: forwards;
			}
			transition: color $transition-speed;

			.more-arrow {

				&:hover {
					cursor: pointer;
					color: $grey;
				}

			}

		}

	}

	@media screen and (min-width: $screen-sm) and (max-height: 600px) {

		.letter {

			margin-top: 2rem;

			p {
				font-size: 1.25rem;
			}

		}

	}

	@include mq('desktop') {

		.content {
			padding: 0px;
			width: 46rem;
		}

	}

}
