.intro {

	position: relative;
	padding: 3rem 0px;
	overflow: hidden;
	color: $black;

	a {

		color: currentColor;
		transition: color $transition-speed;

		&:hover {
			color: $grey;
		}

	}

	.logo {
		display: block;
		margin: 0px auto;
		@include sdcLogoDimensions(16rem);
	}

	.tagline {
		margin-top: 1rem;
		font-size: 1.5rem;
		text-align: center;
	}

	.letter {

		margin-top: 3rem;

		p {
			font-size: 1.125rem;
		}

		.signature {
			text-align: right;
			font-weight: bold;
		}

	}

	.more-arrow-wrap {
		display: none;
	}

	@media screen and (min-width: $mobile-breakpoint) {

		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);

		.content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0px auto;
			padding: 0px 2rem;
			width: $mobile-breakpoint - 4rem;
			max-width: 100%;
			opacity: 0;
			animation: {
				name: fadeIn;
				delay: 500ms;
				duration: $animation-fade-in-up-speed;
				timing-function: ease-out;
				fill-mode: forwards;
			}
		}

		.logo {
			@include sdcLogoDimensions(30rem);
		}

		.tagline {
			font-size: 2rem;
		}

		.letter {

			margin-top: 4rem;

			p {
				font-size: 1.5rem;
			}

		}

		.more-arrow-wrap  {

			opacity: 0;
			display: block;
			position: absolute;
			bottom: 1.5rem;
			left: 50%;
			transform: translate(-50%, 0px);
			animation: {
				name: fadeInUpMoreArrow;
				delay: $animation-intro-extra-delay;
				duration: $animation-fade-in-up-speed;
				timing-function: ease-out;
				fill-mode: forwards;
			}
			transition: color $transition-speed;

			.more-arrow {

				&:hover {
					cursor: pointer;
					padding-bottom: 0.125rem;
					color: $grey;
				}

			}

		}

	}

	@media screen and (min-width: $mobile-breakpoint) and (max-height: 600px) {

		.letter {

			margin-top: 2rem;

			p {
				font-size: 1.25rem;
			}
		}

	}

	@media screen and (min-width: $screen-md) {

		.content {
			padding: 0px;
			width: $mobile-breakpoint + 8rem;
		}

	}

}
