.intro {

	position: relative;
	padding: 3rem 0px;
	overflow: hidden;
	min-height: calc(var(--vh, 1vh) * 80);
	color: $white;
	background: $grey-lighter;
	text-align: center;
	overflow: hidden;

	.wrapper {

		z-index: 1;
		position: relative;

		@include mq($screen-sm) {
			position: static;
		}

	}

	.graph {
		z-index: 0;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translate(-50%, 0px);
		width: 105vw;
	}

	a:not(.btn) {

		color: currentColor;
		transition: color $transition-speed;

		&:hover {
			color: $grey;
		}

	}

	.logo {
		display: block;
		margin: 0px auto;
		@include sdcLogoDimensions(16rem);
	}

	.tagline {

		margin-top: 1rem;
		font-size: 1.5rem;
		text-align: center;

		@media (max-width: 499px) {

			span.space {
				display: block;
			}

		}
	}

	.letter {

		margin-top: 3rem;

		p {
			font-size: 1.125rem;
		}

		.signature {
			text-align: right;
			font-weight: bold;
		}

	}

	.more-arrow-wrap {
		display: none;
	}

	.content {
		margin: 0px auto;
		max-width: 500px;
	}

	@include mq($screen-sm) {

		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);

		.content {
			z-index: 1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0px auto;
			padding: 0px 2rem;
			width: $screen-sm - 4rem;
			max-width: 100%;
			// opacity: 0;
			// animation: {
			// 	name: fadeIn;
			// 	delay: 500ms;
			// 	duration: $animation-fade-in-up-speed;
			// 	timing-function: ease-out;
			// 	fill-mode: forwards;
			// }
		}

		.logo {
			@include sdcLogoDimensions(30rem);
		}

		.tagline {
			font-size: 2rem;
			font-weight: bold;
		}

		.letter {

			margin-top: 4rem;

			p {
				font-size: 1.5rem;
			}

		}

		.more-arrow-wrap  {

			opacity: 0;
			display: block;
			position: absolute;
			bottom: 1.5rem;
			left: 50%;
			transform: translate(-50%, 0px);
			animation: {
				name: fadeInUpMoreArrow;
				delay: $animation-intro-extra-delay;
				duration: $animation-fade-in-up-speed;
				timing-function: ease-out;
				fill-mode: forwards;
			}
			transition: color $transition-speed;

			.more-arrow {

				&:hover {
					cursor: pointer;
					color: $grey;
				}

			}

		}

	}

	@media screen and (min-width: $screen-sm) and (max-height: 600px) {

		.letter {

			margin-top: 2rem;

			p {
				font-size: 1.25rem;
			}
		}

	}

	@include mq('desktop') {

		.content {
			padding: 0px;
			width: 40rem;
		}

	}

}
