.philosophy-transition {
	width: 100%;
	background: $green;

	svg {
		display: block;
		width: 100%;
	}
}

.philosophy {

	padding: 4rem 0px;

	@include mq('desktop') {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		padding: 0px;
		min-height: 80vh;
	}

	.tagline {
		text-align: center;
	}

	p {
		font-size: 1.25rem;
	}

	a:not(.btn) {

		color: currentColor;
		transition: color $transition-speed;

		&:hover {
			color: $grey;
		}

	}

}
