.philosophy {

	@include mq('desktop') {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		min-height: 80vh;
	}

	.tagline {
		text-align: center;
		font-weight: bold;
		// @include caps();
	}

	p {
		font-size: 1.25rem;
	}

}
