.work {

	margin: 4rem 0px;

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	.work-titles {

		li {

			padding: 2rem;
			width: 100%;
			transition: width $transition-speed;
			font-weight: 500;

			&:hover {
				cursor: pointer;
			}

			&:nth-child(odd) {
				background: $grey-lighter;
			}

			&:nth-child(even) {
				background: $grey-light;
			}

			&.active {
				background: $green;
			}

			&:nth-child(3n+2).active {
				background: $blue;
			}

			&:nth-child(3n+3).active {
				background: $red;
			}

			a {

				color: $white;
				text-decoration: none;
				transition: padding $transition-speed;

				span {
					display: block;
					margin-bottom: 0.5rem;
					font-size: 0.75em;
					@include caps();
				}

			}

		}

	}

	.work-content {

		li {

			display: none;
			padding: 2rem;

			&.active {
				display: block;
			}

			.btn {
				font-size: 1.25em;
			}

		}

	}

	@media screen and (min-width: $mobile-breakpoint) {

		&-inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			height: 80vh;
			height: calc(var(--vh, 1vh) * 80);
			max-height: 50rem;
		}

		.work-titles {

			width: 35%;

			ul {

				display: flex;
				flex-direction: column;
				align-items: stretch;
				height: 100%;

				li {

					position: relative;
					flex-basis: 100%;
					font-size: 1.5rem;

					&:hover {

						width: calc(100% + 0.5rem);

						a {
							padding-right: 2.5rem;
						}

					}

					&.active {

						width: calc(100% + 1rem);

						a {
							padding-right: 3rem;
						}

					}

					a {
						position: absolute;
						top: 50%;
						left: 0px;
						transform: translate(0px, -50%);
						padding: 2rem;
					}

				}

			}

		}

		.work-content {
			width: 60%;
		}

	}

}
