@keyframes introBG {

	from {
		transform: translate(-50%, -50%) rotate(15deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(-15deg);
	}

}

@keyframes navToggleSlideIn {

	from {
		transform: translate(calc(100% + 0.5rem), 0px);
	}

	to {
		transform: translate(0px, 0px);
	}

}

@keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes fadeInUp {

  from {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }

}

@keyframes fadeInDown {

  from {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }

}

@keyframes fadeInUpIntro {

  from {
    opacity: 0;
    transform: translate3d(-50%, -45%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }

}

@keyframes fadeInUpMoreArrow {

  from {
    opacity: 0;
    transform: translate3d(-50%, 200%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-50%, 0px, 0);
  }

}
