* {
	box-sizing: border-box;
}

// #__bs_notify__ {
// 	top: auto !important;
// 	bottom: 0 !important;
// }

.wrapper {

	margin: 0px 1.5rem;

	@media screen and (min-width: $mobile-breakpoint) {
		margin: 0px auto;
		width: $mobile-breakpoint - 2rem;
	}

	&-wide {

		@media screen and (min-width: $wide-breakpoint) {
			margin: 0px auto;
			width: $wide-breakpoint - 2rem;
		}

	}

}

article {

	a {

		transition: color $transition-speed;

		&:hover {
			color: $grey;
		}

	}

}
