$black: #000;
$white: #fff;
$grey: #505050;
$grey-light: #b3b2b2;
$grey-lighter: #c8c8c8;
$green: #3fcc68;

$font-family: 'futura-pt', sans-serif;
$font-size-base: 16px;

$screen-md: 64rem;
$mobile-breakpoint: $screen-md;

$animation-speed: 400ms;
$animation-fade-in-up-speed: $animation-speed;
$animation-slide-in-right-speed: $animation-speed;
$animation-intro-extra-delay: 4000ms;
$transition-speed: $animation-speed;
