---
layout: default
title: 'Case Studies'
bodyClasses: 'case-studies'
sitemap:
  priority: '0.8'
---

<div class="case-studies-list">
	{% for i in (1..5) %}
	<a href="/bioquipbugs/" class="case-studies-list__item">
		<div class="case-studies-list__item-title">Name of Case Study</div>
		<div class="case-studies-list__item-description">Consectetur officia fugiat tempor exercitation sit Lorem id excepteur est occaecat elit tempor adipisicing.</div>
		<div class="case-studies-list__item-image">{% image './_src/images/case-studies/meal-plans-home-2024.jpg', 'Meal Plans', '', 'lazy', '200' %}</div>
	</a>
	{% endfor %}
</div>
