---
layout: default
title: 'Case Studies'
bodyClasses: 'case-studies'
sitemap:
  priority: '0.8'
---

<div class="case-studies-list">
	{% for post in collections.caseStudy %}
	<a href="{{ post.data.page.url }}" class="case-studies-list__item">
		{% image './_src/images/case-studies/meal-plans-home-2024.jpg', 'Meal Plans', 'case-studies-list__item-image', 'lazy', '200' %}
		<div class="case-studies-list__item-content">
			<div class="case-studies-list__item-title">{{ post.data.title }}</div>
			{% if post.data.description not empty %}
			<div class="case-studies-list__item-description">{{ post.data.description }}</div>
			{% endif %}
		</div>
	</a>
	{% endfor %}
</div>
