---
layout: default
title: 'Music Menu Bar'
product: true
bodyClasses: 'product product-music-menu-bar'
---

<div class="wrapper-wide-med">
  <h1>Music Menu Bar</h1>
  <p>Mac users: see what's playing on Spotify or the Music app from your menu bar. Track name, album artwork, time remaining, play/pause, and more.</p>
  <div class="product-cta-buttons">
    <a href="https://apps.apple.com/us/app/music-menu-bar/id6444139978">{% image './_src/images/svgs/download-mac-app-store-black.svg', 'Download on the Mac App Store', 'mac-app-store', 'lazy', '200' %}</a>
  </div>
</div>
<div class="wrapper wrapper-grid" data-columns="3">
  <div class="grid-item">
    <figure class="full">
      <div>
        {% image './_src/images/products/music-menu-bar/screenshot-1.png', 'Music Menu Bar', '', 'lazy', '200' %}
      </div>
    </figure>
  </div>
  <div class="grid-item">
    <figure class="full">
      <div>
        {% image './_src/images/products/music-menu-bar/settings-1.png', 'Music Menu Bar Settings', '', 'lazy', '200' %}
      </div>
    </figure>
  </div>
  <div class="grid-item">
    <figure class="full">
      <div>
        {% image './_src/images/products/music-menu-bar/settings-2.png', 'Music Menu Bar Settings', '', 'lazy', '200' %}
      </div>
    </figure>
  </div>
</div>
