<section id="contact" class="home-section contact" data-menu-title="Contact">
	<div class="wrapper-tight">
		<h2><span>Interested?</span> Get In Touch</h2>
		<p>Email us at <a href="mailto:hello@seferdesign.com?subject=Web%20Design%20Services" target="_blank">hello@seferdesign.com</a> or schedule an <a href="https://fantastical.app/rsefer/introductory-call">introductory call</a>. We can't wait to hear from you. </p>
	</div>
</section>

<footer>
	<div class="wrapper">
		{% if page.url != '/' %}
		<div class="back-home"><a class="btn btn-trans" href="/"><svg class="chevron-left-solid" role="img"><use xlink:href="#chevron-left-solid"></use></svg>Back Home</a></div>
		{% endif %}
		<a class="copy" href="/">&copy; <svg class="logo" role="img"><use xlink:href="#logo"></use></svg></a>
	</div>
</footer>
