<nav id="main-nav">
	<a class="logo-link" href="/">
		<svg class="logo" role="img">
			<use xlink:href="#logo"></use>
		</svg>
	</a>
	<div id="nav-main-toggle" class="nav-main-toggle">
		<span class="nav-main-toggle-box">
			<span class="nav-main-toggle-inner"></span>
		</span>
	</div>
  <ul class="main-menu">
		<li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/philosophy/">Our Philosophy</a>
    </li>
    {% comment %} <li>
      <a href="/case-studies/">Case Studies</a>
    </li> {% endcomment %}
    <li>
			<a href="/contact/">Contact</a>
    </li>
  </ul>
</nav>
