.banner {

	$color: $blue;

	position: relative;
	display: block;
	padding: 1.25em 0px;
	color: $white;
	background: $color;
	font-size: 0.75rem;
	text-align: center;
	text-decoration: none;
	transition: background #{$animation-speed / 2};
	will-change: background;

	@include mq('desktop') {
		padding: 0.75em 0px;
		font-size: 1rem;
	}

	p {
		font-size: 1em;
	}

	.href {
		text-decoration: underline;
	}

	.chevron-right-solid {

		display: inline-block;
		vertical-align: middle;
		font-size: 1em;
		width: 1em;
		height: 1em;
		transform: translate(0px, -10%);
		transition: transform $animation-speed;
		will-change: transform;

		&:not(:first-child) {
			margin-left: 0.25em;
		}

	}

	&:hover {

		background: darken($color, 3%);

		.chevron-right-solid {
			transform: translate(10%, -10%);
		}

	}

	&:active {
		background: darken($color, 10%);
	}

}
