.btn {

	display: inline-block;
	padding: 0.75em 1em;
	color: $white;
	background: $black;
	text-decoration: none;
	border: 0.125em solid $black;
	border-radius: $border-radius;
	@include caps();
	font-weight: 700;
	line-height: 1;
	transition: background-color $transition-speed;
	box-shadow: $box-shadow;

	.chevron-right-solid,
	.chevron-left-solid {
		display: inline-block;
		vertical-align: middle;
		margin-left: 0.5em;
		margin-bottom: 0.1875em;
		width: 0.625em;
		height: 1em;
		transition: margin $transition-speed;
	}

	.chevron-left-solid {
		margin-left: 0px;
		margin-right: 0.5em;
	}

	&:hover {

		background-color: $grey-dark;

		.chevron-right-solid {
			margin-left: 0.625em;
		}

		.chevron-left-solid {
			margin-right: 0.625em;
		}

	}

	&:active {
		background-color: $grey;
		border-color: $grey;
	}

	&-outline {
		color: currentColor;
		background: none;
		border-color: currentColor;
	}

	&-trans {

		padding-top: 0px;
		padding-bottom: 0px;
		color: $blue;
		background-color: transparent;
		border-radius: 0px;
		box-shadow: none;
		border: 0px;

		&:hover {
			background-color: transparent;
		}

		&:active {
			background-color: transparent;
		}

	}

	&-wide {
		padding: 1em 3em;
	}

	.intro & {

		$color: $green;
		background: $color;
		border-color: $color;
		animation: {
			name: fadeInUp;
			duration: 500ms;
			delay: 1500ms;
			iteration-count: 1;
			fill-mode: forwards;
		}
		opacity: 0;
		will-change: opacity, transform;

		&:hover {
			background: darken($color, 3%);
		}

		&:active {
			background: darken($color, 10%);
		}

	}

}
