@use "variables";
@use "mixins";

.case-studies-list {

	--case-studies-list-gap: 1rem;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: var(--case-studies-list-gap);

	& > * {

		flex-basis: 100%;
		text-decoration: none;

		@include mixins.mq('desktop') {
			flex-basis: calc((100% - var(--case-studies-list-gap)) / 2);
		}

	}

	&__item {

		position: relative;
		color: var(--color-text);
		background: var(--color-background-alt-2);
		border-radius: 1rem;;

		&-content {

			z-index: 3;
			position: relative;
			padding: var(--site-gap);
			display: flex;
			flex-flow: row wrap;
			align-content: center;
			justify-content: flex-start;
			align-items: center;
			gap: 0.75em;
			font-size: 0.75rem;

			& > * {
				flex-basis: 100%;
			}

		}

		&-title {

			font-size: 2em;

			.arrow {

				display: inline-block;
				vertical-align: baseline;
				font-size: 0.75em;
				user-select: none;

				svg {
					display: block;
					font-size: 0.75em;
					width: 1em;
					height: 1em;
					color: var(--color-text-alt);
				}

			}

		}

		&-description {
			font-size: 1.5em;
		}

	}

}

article.case-study-cta {
	margin: var(--site-gap);
	font-size: 2rem;
}
