@use "variables";
@use "mixins";

.page-case-studies {

	.site-wrap main article {
		margin: 0px;
	}

}

.case-studies-list {

	$caseStudiesGridBreakpoint: variables.$screen-md;

	--case-studies-list-gap: 0px;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--case-studies-list-gap);

	@include mixins.mq($caseStudiesGridBreakpoint) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: stretch;
		min-height: calc(100 * var(--vh));
	}

	& > * {

		flex-basis: 100%;

		@media (min-width: #{variables.$screen-sm}) and (max-width: #{variables.$screen-md-px - 1}) {
			min-height: 25vh;
		}

		@include mixins.mq($caseStudiesGridBreakpoint) {

			flex-basis: calc((100% - var(--case-studies-list-gap)) / 2);

			&:last-child:nth-child(odd) {
				grid-column: 1 / span 2;
			}

		}

	}

	&__item {

		position: relative;
		color: var(--color-text);
		border: 0px solid var(--color-text-alt);

		+ * {
			border-top-width: 1px;
		}

		@include mixins.mq($caseStudiesGridBreakpoint) {

			&:nth-child(2n) {
				border-left-width: 1px;
			}

			&:nth-child(2) {
				border-top-width: 0px;
			}

		}

		&:before {

			content: '';
			display: block;
			padding-top: 50%;

			@include mixins.mq($caseStudiesGridBreakpoint) {
				padding-top: 75%;
			}

		}

		&:after {
			content: '';
			z-index: 2;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background: var(--color-background);
			opacity: 0.9;
		}

		&-image {
			z-index: 1;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-content {

			z-index: 3;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			padding: var(--site-gap);
			display: flex;
			flex-flow: row wrap;
			align-content: center;
			justify-content: flex-start;
			align-items: center;
			gap: 1rem;
			font-size: 1rem;

			@include mixins.mq('desktop') {
				align-content: flex-start;
			}

			& > * {
				flex-basis: 100%;
			}

		}

		&-title {

			font-size: 2em;

			.arrow {
				font-size: 0.75em;
				vertical-align: baseline;
			}

		}

		&-description {
			font-size: 1.5em;
		}

	}

}

article.case-study-cta {
	margin: var(--site-gap);
	font-size: 2rem;
}
