footer {

	padding: 4rem 0px;
	text-align: center;

	@include mq($screen-sm) {
		padding: 6rem 0px;
	}

	.back-home {
		margin-bottom: 2rem;
	}

	.copy {

		display: inline-block;
		color: $grey-light;
		font-size: 4vw;
		opacity: 0.5;
		text-decoration: none;
		transition: opacity $transition-speed;

		&:hover {
			opacity: 1;
		}

		@include mq($screen-sm) {
			font-size: 2rem;
		}

		.logo {
			display: inline-block;
			vertical-align: middle;
			@include sdcLogoDimensions(10em);
		}

	}

}
