@use "mixins";
@use "variables";

@view-transition {
  navigation: auto;
}

* {
	box-sizing: border-box;
}

:root {

	--vh: 1vh;
	--transition-speed: 600ms;
	--font-family-main: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica', sans-serif;
	--site-gap: 1.5rem;
	--site-min-height: 400px;
	--nav-width: 100%;

	--color-black: #000;
	--color-black-off: #121212;
	--color-white: #fff;
	--color-white-off: #f3f3f3;
	--color-grey-dark: #555;
	--color-grey: #777;
	--color-grey-light: #d4d4d4;
	--color-grey-lighter: #dbdbdb;

	--color-text: var(--color-black-off);
	--color-text-alt: var(--color-grey-dark);
	--color-background: var(--color-white);
	--color-background-alt: var(--color-grey-lighter);
	--color-link: var(--color-grey);
	--color-ipad-frame-background: var(--color-black-off);

	@media (prefers-color-scheme: dark) {
		--color-text: var(--color-white);
		--color-text-alt: var(--color-grey);
		--color-background: var(--color-black-off);
		--color-background-alt: var(--color-grey);
		--color-link: var(--color-grey-lighter);
		--color-ipad-frame-background: var(--color-grey-light);
	}

	@include mixins.mq('desktop') {
		--site-gap: 2rem;
		--nav-width: 250px;
	}

	@include mixins.mq(variables.$screen-md) {
		--nav-width: 300px;
	}

}

.svg-dump {
	display: none;
}

body {

	color: var(--color-text);
	background: var(--color-background);
	font-family: var(--font-family-main);

	&.nav-expanded {

		overflow: hidden;

		@include mixins.mq('desktop') {
			overflow: inherit;
		}

	}

}

::selection {
	color: var(--color-white);
	background: var(--color-grey);
}

.site-wrap {

	min-height: max(calc(100 * var(--vh)), var(--site-min-height));

	@include mixins.mq('desktop') {

		margin: 0px auto;
		max-width: variables.$wide-breakpoint;
		min-height: var(--site-min-height);
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
		gap: var(--site-gap);

		main {

			flex: 1;
			margin-left: calc(var(--nav-width) + var(--site-gap));
			min-height: max(calc(100 * var(--vh)), var(--site-min-height));

			article {
				margin: var(--site-gap);
				margin-left: 0px;
			}

		}

	}

}

.vertically-center main {

	@include mixins.mq('desktop') {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}

}

// body.page-philosophy {

// 	background: var(--color-white-off);

// 	@include mixins.mq('desktop') {
// 		background: transparent;
// 	}

// 	.site-wrap {

// 		padding-bottom: var(--site-gap);
// 		background: var(--color-white-off);

// 		@include mixins.mq('desktop') {
// 			padding-bottom: 0px;
// 		}

// 	}

// 	article {

// 		padding: var(--site-gap);
// 		background: var(--color-white);
// 		box-shadow:
//     	0 -1px 1px rgba(0,0,0,0.15),
// 			0 -10px 0 -5px #eee,
// 			0 -10px 1px -4px rgba(0,0,0,0.15);
// 		font-family: monospace;

// 		@include mixins.mq(variables.$screen-xs) {
// 			padding: calc(var(--site-gap) * 2);
// 		}

// 		p {

// 			font-size: 0.875rem;

// 			@include mixins.mq(variables.$screen-xs) {
// 				font-size: 1rem;
// 			}

// 		}

// 	}

// }

.logo {

	display: block;
	width: 6.7em;
	height: 1em;

	&-link {
		display: inline-block;
		vertical-align: middle;
	}

}

article {
	margin: var(--site-gap);
}

.seo-only {
	position: absolute !important;
	top: auto !important;
	left: -10000px !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
}

.grid-figures {

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;

	& > * {
		flex: 1;
	}
}

figure {

	& > * {
		text-align: center;
	}

	.ipad {

		--ipad-frame-border-radius: 1rem;
		position: relative;
		padding: 0.6875rem;
		background: var(--color-ipad-frame-background);
		border-radius: var(--ipad-frame-border-radius);

		img {
			z-index: 2;
			position: relative;
			border-radius: calc(var(--ipad-frame-border-radius) - 8px);
		}

	}

	.half-width {
		max-width: min(50%, 500px);
		margin-left: auto;
		margin-right: auto;
	}

	img {

		max-width: 100%;
		height: auto;

		&[src$=".png"],
		&[src$=".svg"] {

			@media (prefers-color-scheme: dark) {
				background: var(--color-white);
			}

		}

	}

	figcaption {
		margin-top: 1rem;
		text-align: center;
		font-size: 0.875em;
	}

}

blockquote {

	background: var(--color-background-alt);

	.attribution {

		margin-top: 1em;
		font-weight: 500;

		&:before {
			content: '\2015'; // Horizontal bar
			display: inline-block;
			margin-right: 1ch;
		}

		span {
			font-weight: 400;
		}

	}

}

.endorsement {
	padding: 2rem;
	text-align: center;
}
