* {
	box-sizing: border-box;
}

body {

	position: relative;

	&:before,
	&:after {
		content: ' ';
		z-index: 999999;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		height: 0.25rem;
		background: $black;
	}

	&:before {
		animation: {
			name: topBorderLeftToRight;
			duration: $animation-speed * 1.5;
			timing-function: linear;
			fill-mode: forwards;
		}
		will-change: right;
	}

	&:after {
		position: absolute;
		top: auto;
		bottom: 0px;
	}

	&.page-case-study:before {
		background: $blue;
	}

	// &.case-study-meal-plans:before {
	// 	background: $green;
	// }

	// &.case-study-sdc:before {
	// 	background: $blue;
	// }

	// &.case-study-kellyinthecity:before {
	// 	background: $red;
	// }

	// &.case-study-civilian:before {
	// 	background: $grey-light;
	// }

	&.nav-active {

		&:after {
			position: fixed;
		}

	}

	&.page-redirect {

		text-align: center;

		&:before,
		&:after {
			content: '';
			display: none;
		}

		.back,
		.nav-toggle {
			display: none;
		}

	}

}

.wrapper {

	margin: 0px 1.5rem;

	@media screen and (min-width: $mobile-breakpoint) {
		margin: 0px auto;
		width: $mobile-breakpoint - 2rem;
	}

	&-wide-med {

		margin: 0px 1.5rem;

		@media screen and (min-width: $mobile-breakpoint) {
			margin: 0px 3rem;
		}

		@media screen and (min-width: $wide-breakpoint) {
			margin: 0px auto;
			width: $wide-breakpoint - 8rem;
		}

	}

	&-wide {

		@media screen and (min-width: $wide-breakpoint) {
			margin: 0px auto;
			width: $wide-breakpoint - 2rem;
		}

	}

	&-grid {

		article & {

			margin-top: 1.5rem;
			margin-bottom: 1.5rem;

			&:last-child {
				margin-bottom: 0px;
			}

		}

		@media screen and (min-width: $mobile-breakpoint) {

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			article & {
				margin: 2rem auto;
			}

			.grid-item {
				flex-basis: 45%;
			}

		}

		@media screen and (min-width: $screen-lg) {
			width: $screen-lg - 2rem;
		}

		// @media screen and (min-width: $screen-xl) {
		// 	width: $screen-xl - 2rem;
		// }

	}

}

article {

	a {

		transition: color $transition-speed;

		&:hover {
			color: $grey;
		}

	}

}

figure {

	img {

		margin-left: auto;
		margin-right: auto;
		max-width: 30rem;

		@media screen and (min-width: $mobile-breakpoint) {
			max-width: 100%;
		}

	}

	&:not(.browser) {

		img,
		video {
			box-shadow: $box-shadow;
		}

		&.figure-spaced {

			img {
				margin: 4rem 0px;
				box-shadow: none;
				border-radius: 0px;
			}

		}

	}

	&.browser {

		position: relative;
		margin: 1rem auto;
		max-width: 30rem;

		@media screen and (min-width: $mobile-breakpoint) {
			max-width: 100%;
		}

		&:before,
		.browser-chrome:before,
		.browser-chrome:after {
			content: ' ';
			z-index: 2;
			position: absolute;
			top: 0.3725rem;
			left: 0.5rem;
			width: 0.5rem;
			height: 0.5rem;
			background: $chrome-red;
			border-radius: $border-radius;
		}

		.browser-chrome:before {
			left: 1.5rem;
			background: $chrome-yellow;
		}

		.browser-chrome:after {
			left: 2.5rem;
			background: $chrome-green;
		}

	}

	.browser-chrome {
		position: relative;
		padding: 1.25rem 1px 1px;
		background: $chrome-grey;
		border-top-left-radius: 0.375rem;
		border-top-right-radius: 0.375rem;
		box-shadow: $box-shadow;
	}

	img,
	video {
		display: block;
		max-width: 100%;
	}

	video {
		width: 100%;
	}

	figcaption {
		margin-top: 1rem;
		text-align: center;
		font-size: 0.75em;
	}

	+ figure,
	+ figure.browser {
		margin-top: 4rem;
	}

}

img {

	&.lazy {
		opacity: 0;
		transition: opacity $transition-speed;
	}

	&.initial,
	&.loaded,
	&.error {
		opacity: 1;
	}

}

hr {
	margin: 3rem auto;
	width: 40%;
	height: 0.0625rem;
	background: $blue;
	border: 0px;
}
