@use "sass:color";
@use "sass:meta";
@use "sass:string";
@use "variables";

@mixin fadeInUp($delay: 0ms) {
	animation: {
		name: fadeInUp;
		delay: $delay;
		duration: variables.$animation-fade-in-up-speed;
		timing-function: ease-out;
		fill-mode: forwards;
	}
}

@mixin sdcLogoDimensions($width: 100px) {
	width: $width;
	height: $width * 0.149;
}

@mixin caps() {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

@mixin mq($name: 'desktop') {
	$mqueryString: "(min-width: #{variables.$mobile-breakpoint})";
	@if $name == 'desktop' {
		$mqueryString: "(min-width: #{variables.$mobile-breakpoint})";
	} @else if $name == 'mobile' {
		$mqueryString: "(max-width: #{variables.$mobile-breakpoint-px - 1})";
	} @else {
		$mqueryString: "(min-width: #{$name})";
	}
	@media #{$mqueryString} {
		@content;
	}
}

@function encodecolor($string) {
	@if meta.type-of($string) == 'color' {
		$hex: string.slice(color.ie-hex-str($string), 4);
		$string:string.unquote("#{$hex}");
	}
	$string: '%23' + $string;
	@return $string;
}
