@use "variables";
@use "mixins";

@font-face {
	font-family: 'Inter';
	src: url('/dist/fonts/Inter.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/dist/fonts/Inter-Italic.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

h1 {

	&,
	&.seo-only + h2 {

		font-size: 2rem;

		@include mixins.mq(variables.$screen-xs) {
			font-size: 3rem;
		}

	}

}

h2 {

	font-size: 1.75rem;

	@include mixins.mq(variables.$screen-xs) {
		font-size: 2.25rem;
	}

}

a {
	color: currentColor;
	text-decoration: underline;
	font-weight: 500;
}

article {

	& > * {

		margin: 0px;

		&:not(:first-child) {
			margin-top: 1rem;
		}

		&.seo-only + *:not(:first-child) {
			margin-top: 0px;
		}

	}

	p,
	ul,
	ol {

		font-size: 1.25rem;
		line-height: 1.35;

		@include mixins.mq(variables.$screen-xs) {
			font-size: 1.5rem;
		}

		@include mixins.mq(variables.$screen-lg) {
			font-size: 1.75rem;
		}

	}

	a {

		transition: color var(--transition-speed);

		&:hover {
			color: var(--color-link);
		}

	}

}
