@use "sass:color";
@use 'sass:math';

$font-size-base: 16px;

$border-radius: 0.375em;

$screen-xs: 34rem;
$screen-sm: 48rem;
$screen-md: 62rem;
$screen-lg: 75rem;
$screen-xl: 95rem;
$mobile-breakpoint: $screen-sm;
$mobile-breakpoint-px: 767px;
$wide-breakpoint: $screen-xl;

$animation-speed: 400ms;
$animation-fade-in-up-speed: $animation-speed;
$animation-slide-in-right-speed: $animation-speed;
$animation-intro-extra-delay: 4000ms;
$transition-speed: math.div($animation-speed, 2);
