@use "sass:color";
@use 'sass:math';

$black: #000;
$white: #fff;
$grey: #777777;
$grey-dark: #302f2f;
$grey-darker: #222222;
$grey-off: #808182;
$grey-light: #b2b2b2;
$grey-lighter: #c8c8c8;
$grey-lightest: #eaeaea;
$green: #5ea071;
$blue: #48658c;
$blue-dark: color.adjust($blue, $lightness: -5%);
$blue-light: #bad7f2;
$blue-lighter: color.adjust($blue-light, $lightness: 12%);
$red: #8c5248;
$orange: #d27f4d;

$blue-to-white: linear-gradient(to bottom, $blue-dark 10%, color.adjust($blue, $lightness: -2%) 30%, $blue 50%, color.adjust($blue, $lightness: 20%) 70%, color.adjust($blue, $lightness: 40%) 90%, $white 100%);

$green-highlight: #b7f3c9;
$blue-highlight: #a5cefa;
$red-highlight: #ffc7c7;

$chrome-grey: $grey-lightest;
$chrome-red: #e74c3c;
$chrome-yellow: #f1c40f;
$chrome-green: #2ecc71;

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-size-base: 16px;

$border-radius: 0.375em;

$box-shadow: 0px 0.0625rem 0.375rem 0px color.adjust($black, $alpha: -0.9);

$screen-xs: 34rem;
$screen-sm: 48rem;
$screen-md: 64rem;
$screen-lg: 75rem;
$screen-xl: 95rem;
$mobile-breakpoint: $screen-md;
$wide-breakpoint: $screen-xl;

$animation-speed: 400ms;
$animation-fade-in-up-speed: $animation-speed;
$animation-slide-in-right-speed: $animation-speed;
$animation-intro-extra-delay: 4000ms;
$transition-speed: math.div($animation-speed, 2);
