.intro {

	position: relative;
	padding: 4rem 0px;
	overflow: hidden;
	color: $white;
	text-shadow: 0.5px 0.5px 0px $black;

	.intro-bg-wrap {

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(15deg);
		animation: {
			name: introBG;
			delay: 500ms;
			duration: $animation-fade-in-up-speed;
			timing-function: ease-out;
			fill-mode: forwards;
		}
		will-change: transform;

		.intro-bg {

			width: 200vw;
			height: 200vh;

			&-1 {
				background: $pink; //linear-gradient(to right, $pink, darken($pink, 10%));
			}

			&-2 {
				background: $blue;
			}

		}

	}

	.logo {
		display: block;
		margin: 0px auto;
		@include sdcLogoDimensions(16rem);
		filter: drop-shadow(1px 1px 0px transparentize($black, 0.5));
	}

	.tagline {
		margin-top: 1rem;
		font-size: 1.5rem;
		text-align: center;
	}

	.letter {

		margin-top: 2rem;

		.signature {
			text-align: right;
			font-weight: bold;
		}

	}

	.more-arrow {
		display: none;
	}

	@media screen and (min-width: $mobile-breakpoint) {

		height: 100vh;

		.content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0px auto;
			max-width: 40rem;
			opacity: 0;
			animation: {
				name: fadeIn;
				delay: 1000ms;
				duration: $animation-fade-in-up-speed;
				timing-function: ease-out;
				fill-mode: forwards;
			}
		}

		.more-arrow {
			opacity: 0;
		}

		.logo {
			@include sdcLogoDimensions(40rem);
		}

		.tagline {
			font-size: 1.625rem;
		}

		.letter {

			margin-top: 6rem;

			p {
				text-align: justify;
				font-size: 1.25rem;
			}

		}

		.more-arrow  {

			display: block;
			animation: {
				name: fadeInUpMoreArrow;
				delay: 2000ms;
				duration: $animation-fade-in-up-speed;
				timing-function: ease-out;
				fill-mode: forwards;
			}
			transition: all $transition-speed;

			&:hover {
				cursor: pointer;
				padding-bottom: 0.125rem;
				color: $grey;
			}

		}

	}

}
