.work {

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	.work-titles {

		li {

			padding: 2rem;
			width: 100%;
			transition: width $transition-speed / 2;
			font-weight: 500;
			letter-spacing: 0.05em;
			text-transform: uppercase;

			&:hover {
				cursor: pointer;
				width: calc(100% + 0.5rem);
			}

			&:nth-child(odd) {
				background: $grey-lighter;
			}

			&:nth-child(even) {
				background: $grey-light;
			}

			&.active {
				width: calc(100% + 1rem);
				background: $green;
			}

			a {
				color: $white;
				text-decoration: none;
			}

		}

	}

	.work-content {

		li {

			display: none;
			padding: 2rem;

			&.active {
				display: block;
			}

		}

	}

	@media screen and (min-width: $mobile-breakpoint) {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 80vh;
		height: calc(var(--vh, 1vh) * 80);

		.work-titles {

			width: 20%;

			ul {

				display: flex;
				flex-direction: column;
				align-items: stretch;
				height: 100%;

				li {
					flex-basis: 100%;
					font-size: 1.5rem;
				}

			}

		}

		.work-content {
			width: 75%;
		}

	}

}
